h1 = 'Все вопросы'
h2 = render @questions
br
= link_to 'Задать вопрос', new_question_path
br
- if user_signed_in?
  = link_to 'Выйти', destroy_user_session_path, method: :delete
- else
  = link_to 'Войти', new_user_session_path
