$('.question-errors').empty();

<% if @question.errors.present? %>
  <% @question.errors.full_messages.each do |message| %>
    $('.question-errors').append('<p> <%= message %> </p>')
  <% end %>
<% else %>
  $('.question-wrapper').replaceWith("<%= j render 'questions/partials/question_block', question: @question %>");
  $('form.edit_question').hide();
  $('.edit-question-link').show();
<% end %>
